[Unit]
Description=Network Access Audit,Dynamic Forwarding Configuration Engine
After=multi-user.target
StartLimitIntervalSec=300
StartLimitBurst=10

[Service]
ExecStart=/usr/bin/python /usr/bin/umbrella/um_agent.py /etc/umbrella/agent/um_agent.json
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target

